<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headerlogeo></app-headerlogeo>
<h2 style="font-size: 24px; color: black;">LISTA DE USUARIOS ACTIVOS</h2>

<section>


<div class="table-wrapper">
    <div class="input-box" style="    margin-bottom: 20px;">
        <i style="margin-right: 10px; font-size: 28px; color: #E8AA42;" class="fa fa-search"></i>
        <input style="padding-left: 10px; font-size: 20px; border-radius: 5px; background-color: #f4daaf;" type="text" name="usuario" [(ngModel)]="busquedaAct" (input)="busquedaUsuariosAct()" placeholder="Buscar"
            required>
    </div>
    <table class="fl-table">
        <thead>
            <tr>
                <th>Nº Usuario</th>
                <th>Cedula</th>
                <th>Usuario</th>
                <th>Nombre y Apellido</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let usu of usuariosAct">

                <tr *ngIf="usu.usuEstado===1">
                    <td>{{usu.usuId}}</td>
                    <td>{{usu.usuPerId.perCedula}}</td>
                    <td>{{usu.usuNombreUsuario}}</td>
                    <td>{{usu.usuPerId.perNombre+" "+usu.usuPerId.perApellido}}</td>
                    <td>{{usu.rolId.rolNombre}}</td>
                    <td class="button">
                        <div><button type="button" name="button" [routerLink]="['/editarusu','editar',usu.usuId]">
                                <img src="assets/img/lapiz.png" width="20px">
                            </button></div>
                    </td>

                    <td class="button2">
                        <div><button class="3" name="button" (click)="eliminar(usu.usuId)" [disabled]="usu.usuId === 1">
                                <img src="assets/img/eliminar.png" width="20px">
                            </button></div>
                    </td>
                </tr>
            </ng-container>

        <tbody>
    </table>
</div>
</section>
<section>
<h2 style="font-size: 24px; color: black;">LISTA DE USUARIOS INACTIVOS</h2>

<div class="table-wrapper">
    <div class="input-box" style="margin-bottom: 20px;">
        <i style="margin-right: 10px; font-size: 28px; color: #E8AA42; " class="fa fa-search"></i>
    
        <input style="padding-left: 10px; font-size: 20px; border-radius: 5px; background-color: #f4daaf;" type="text" name="usuario" [(ngModel)]="busquedaInAct" (input)="busquedaUsuariosInact()" placeholder="Buscar"
            required>
    </div>
    <table class="fl-table">
        <thead>
            <tr>
                <th>Nº Usuario</th>
                <th>Cedula</th>
                <th>Usuario</th>
                <th>Nombre y Apellido</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Activar</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let usu of usuariosInact">

                <tr *ngIf="usu.usuEstado===0">
                    <td>{{usu.usuId}}</td>
                    <td>{{usu.usuPerId.perCedula}}</td>
                    <td>{{usu.usuNombreUsuario}}</td>
                    <td>{{usu.usuPerId.perNombre+" "+usu.usuPerId.perApellido}}</td>
                    <td>{{usu.rolId.rolNombre}}</td>
                    <td class="button">
                        <div><button type="button" name="button" [routerLink]="['/editarusu','editar',usu.usuId]">
                                <img src="assets/img/lapiz.png" width="20px">
                            </button></div>
                    </td>

                    <td class="button2">
                        <div><button class="2" name="button" (click)="activarCuenta(usu.usuId)"
                                [disabled]="usu.usuId === 1">
                                <img src="assets/img/salir.png" width="20px">
                            </button></div>
                    </td>
                </tr>
            </ng-container>

        <tbody>
    </table>
</div>
</section>
</html>