<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>
<h2 style="font-size: 24px; color: black;">LISTA DE USUARIOS</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>Nº Usuario</th>
                <th>Cedula</th>
                <th>Usuario</th>
                <th>Nombre y Apellido</th>
                <th>Rol</th>
                <th>Editar</th>
                <th>Eliminar</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let usu of usuarios">

                <tr *ngIf="usu.usuEstado === 1">
                    <td>{{usu.usuId}}</td>
                    <td>{{usu.usuPerId.perCedula}}</td>
                    <td>{{usu.usuNombreUsuario}}</td>
                    <td>{{usu.usuPerId.perNombre+" "+usu.usuPerId.perApellido}}</td>
                    <td>{{usu.rolId.rolNombre}}</td>
                    <td class="button">
                        <div><button type="button" name="button" [routerLink]="['/editarusu',usu.usuId]">
                                <img src="assets/img/lapiz.png" width="20px">
                            </button></div>
                    </td>

                    <td class="button2">
                        <div><button class="2" name="button" (click)="eliminar(usu.usuId)" [disabled]="usu.usuId === 1">
                                <img src="assets/img/eliminar.png" width="20px">
                            </button></div>
                    </td>
                </tr>
            </ng-container>

        <tbody>
    </table>
</div>

</html>