<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>
<h2 style="font-size: 24px; color: black;">LISTA DE USUARIOS</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>Usuario</th>
            <th>Password</th>
            <th>DIreccion</th>
            <th>Telefono</th>
            <th>Fecha de Registro</th>
            <th>Accion</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Grupo1</td>
            <td>Grupos2023 1</td>
            <td>TecAzuay</td>
            <td>0978717957</td>
            <td>29/06/2023</td>
            <td><button style="margin-right: 10px;">Editar</button><button>Eliminar</button></td>

        </tr>  
        <tbody>
    </table>
</div>
</html>