<!-- CAROUSEL -->
<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Logeo para el Salon de Eventos </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div>
    <app-headerlogeo></app-headerlogeo>
</div>

<div class="asdsad">
    <p class="titulo" style="text-align: center; font-size: 36px; font-weight: bolder;">DATOS DE LA RESERVA</p>
    <section class="background"
        style=" width: 80% ;  margin-left: auto; margin-right: auto; margin-bottom: 100px; margin-top: 100px;">
        <section class="layout" style="margin-bottom: px;">
            <div>
                <p style="padding-left: 10%; font-weight: bolder;">Por favor, rellene todos los campos. </p>
            </div>
        </section>

        <section class="layout">
            <div>
                <p style="padding-left: 10%; font-weight: bolder;">Cotizacion: # <label for="">COT001</label> </p>

                <p class="fecha"> Fecha de Registro: &nbsp;&nbsp;{{ fechaRegistro | date:'dd/MM/yyyy' }}</p>
            </div>
        </section>

        <section class="layout2">

            <div class="datos">
                <div class="datos">
                    <label style="width: 100%; text-align: center; font-weight: bolder;" for="dia">Fecha de reserva:
                    </label>
                </div>
                <div class="datos">
                    <input type="date" name="resFechaEvento" [(ngModel)]="reserva.resFechaEvento"
                        placeholder="Fecha del Evento" required id="dia"
                        style=" background-color:#f4e6cd; height: 50px; width: 324px; font-weight: bolder; padding-left: 35px;border: none; border-bottom: 2px solid rgba(0, 0, 0, 0.2);   box-shadow: 3px 3px #cecccc;">


                    <p>{{alertaOcupado}}</p>
                </div>
            </div>



        </section>
        <p style="text-align: center;">Deseas confirmar tu reserva?

        </p>
        <section class="layout3">

            <div style="text-align: center;">

                <div class="buttons" style="margin-top: 20px;">

                    <button class="btn" (click)="crearReserva()"><span></span>
                        <p data-start="good luck!" data-text="CONFIRMAR!" data-title="CONFIRMAR"></p>
                    </button>

                </div>
            </div>

            <div style="text-align: center;">

                <div class="buttons" style="margin-top: 20px;">

                    <button class="btn"><span></span>
                        <p data-start="good luck!" data-text="CANCELAR!" data-title="CANCELAR"></p>
                    </button>


                </div>
            </div>
        </section>
        <section class="layout5">
            <div class="foto" style="border: 1px solid;"></div>

            <div class="foto" style="border: 1px solid;"></div>
        </section>
    </section>
    <div class="container4" [hidden]="accion !== 'validar'">


        <div>

            <h1 style="margin-bottom: 20px;">Resultados</h1>
        </div>
        <img [src]="imageToShow" *ngIf="imageToShow" alt="Imagen" class="image-container">

        <div>
            <h1 style="margin-top: 40px;">¿Que deseas hacer con esta cotizaion?</h1>
        </div>

        <section class="layouthor">
            <div><button class="boton1">En espera</button></div>
            <div><button class="boton2">Descartar</button></div>
            <div><button class="boton3">Aceptar</button></div>

        </section>

    </div>
</div>

</html>