<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Logeo para el Salon de Eventos </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<app-headers></app-headers>


<div>
    <section class="layout">

        <div class="card">
            <div class="icon">
                <img src="assets/img/personas.png" width="40px " alt="">
            </div>
            <strong> USUARIOS
            </strong>
            <div class="card__body">
                Gestiona los usuarios  
            </div>
            <span> <a href="/gestionuser"><img src="assets/img/personas.png" width="70px " alt=""></a>
            </span>
        </div>

        <!-- <div class="card">
            <div class="icon">
                <img src="assets/img/usuario.png" width="40px " alt="">
            </div>
            <strong> EMPLEADOS
            </strong>
            <div class="card__body">
                Crear nuevos empleados
            </div>
            <span> <a href="/editarusu"><img src="assets/img/usuario.png" width="70px " alt=""></a>
            </span>
        </div> -->

        <div class="card">
            <div class="icon">
                <img src="assets/img/silla.png" width="40px " alt="">
            </div>
            <strong> SALONES
            </strong>
            <div class="card__body">
                Gestionar los salones del sistema
            </div>
            <span> <a href="/gestionsalones"><img src="assets/img/silla.png" width="70px " alt=""></a>
            </span>
        </div>

        <div class="card">
            <div class="icon">
                <img src="assets/img/clientes.png" width="40px " alt="">
            </div>
            <strong> REGISTROS
            </strong>
            <div class="card__body">
                Ver los registros de usuarios
            </div>
            <span> <a href="/listausu"><img src="assets/img/clientes.png" width="70px " alt=""></a>
            </span>
        </div>

        <div class="card">
            <div class="icon">
                <img src="assets/img/globo.png" width="40px " alt="">
            </div>
            <strong> PRODUCTOS
            </strong>
            <div class="card__body">
                Gestionar los productos 
            </div>
            <span> <a href="/gestionProd"><img src="assets/img/globo.png" width="70px " alt=""></a>
            </span>
        </div>

        
        <div class="card">
            <div class="icon">
                <img src="assets/img/calendar.png" width="40px " alt="">
            </div>
            <strong> RESERVAS
            </strong>
            <div class="card__body">
                Gestionar las reservas
            </div>
            <span> <a href="/gestionreservas"><img src="assets/img/calendar.png" width="70px " alt=""></a>
            </span>
        </div>

        <div class="card">
            <div class="icon">
                <img src="assets/img/cotizacion.png" width="40px " alt="">
            </div>
            <strong> COTIZACIONES
            </strong>
            <div class="card__body">
                Gestionar las cotizaciones
            </div>
            <span> <a href="/gestioncotizaciones"><img src="assets/img/cotizacion.png" width="70px " alt=""></a>
            </span>
        </div>


    </section>
</div>

</html>