<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>
<h2 style="font-size: 24px; color: black;">LISTA DE COTIZACIONES</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>TIPO DE EVENTO</th>
                <!-- <th>FECHA EVENTO</th> -->
                <th>DESCRIPCIÓN</th>
                <th>ESTADO</th>
                <th>MONTO</th>
                <th>HORA INICIO</th>
                <th>HORA FÍN</th>
                <th>SALÓN</th>
                <th>USUARIO</th>
                <th>ACCIÓN</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let cot of cotizaciones">
                <tr>
                    <td>{{cot.cotiTipoEvento}}</td>
                    <!-- <td>{{ cot.cotiFechaEvento | date: 'dd/MM/yyyy' }}</td> -->
                    <td>{{ cot.cotiDescripcion}}</td>
                    <td>
                        <span *ngIf="cot.cotiEstado === 1">Aprobado</span>
                        <span *ngIf="cot.cotiEstado === 0">En espera</span>
                    </td>
                    <td>{{ cot.cotiMonto  }}</td>
                    <td>{{ cot.cotiHoraInicio | date: ' HH:mm:ss' }}</td>
                    <td>{{ cot.cotiHoraFin | date: ' HH:mm:ss' }}</td>
                    <td>{{ getSalonName(cot.salId) }}</td>
                    <td>{{ getUsuarioName(cot.usuId) }}</td>
                <td><button style="margin-right: 10px;">Aprobar</button><button>Ver detalle</button></td>
                </tr>
            </ng-container>
        <tbody>
    </table>
</div>

</html>