<html>

<meta class="viewport" content="width-device-width, initial-scale=1.0">
<title>HEADER</title>

<app-headerlogeo></app-headerlogeo>

<body>

  <div class="container">
    <h1 style="color: #ffffff;">{{salon.salNombre}}</h1>
    <button type="button" name="button" class="button" [routerLink]="['/res',salon.salId]">
      Ir a cotizacion
    </button>
  </div>

  <div class="blank" style="margin-left: auto; margin-right: auto;">

    <div class="container2">
      <div class="box">

        <div class="title">
          <span class="block"></span>
          <h1>Detalles de {{salon.salNombre}}<span></span></h1>
        </div>

        <div class="role">
          <div class="block"></div>
          <p>Capacidad, Costo y Direccion</p>
        </div>

      </div>
    </div>

  </div>

  <div class="container second">
    <div class="item">
      <div class="img img-first" style="width: 90%;"></div>
      <div class="card" style="border: transparent;">
        <h3>CAPACIDAD </h3>
        <p>{{salon.salCapacidad}}
        </p>
      </div>
    </div>
    <div class="item">
      <div class="img img-second"></div>
      <div class="card" style="border: transparent;">
        <h3>COSTO POR HORA</h3>
        <p>{{salon.salCostoHora}}
        </p>
      </div>
    </div>
    <div class="item">
      <div class="img img-third"></div>
      <div class="card" style="border: transparent;">
        <h3>DIRECCION</h3>
        <p>{{salon.salDireccion}}
        </p>
      </div>
    </div>
  </div>


</body>

</html>