<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>
<h2 style="font-size: 24px; color: black;">LISTA DE RESERVAS</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>COMPROBANTE</th>
                <th>ESTADO</th>
                <th>FECHA SOLICITADA</th>
                <th>Acción</th>

            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let res of reservas">
                <tr>
                    <td>{{ res.resComprobante }}</td>
                    <td>
                      <span *ngIf="res.resEstado === 1">Aprobado</span>
                      <span *ngIf="res.resEstado === 0">En espera</span>
                    </td>
                    <td>{{ res.resFechaRegistro | date: 'dd/MM/yyyy' }}</td>
                    <td><button style="margin-right: 10px;">Aprobar</button><button>Ver detalle</button></td>
                  </tr>
            </ng-container>
        <tbody>
    </table>
</div>

</html>