<app-headerlogeo></app-headerlogeo>


    <div class="CONTENDOR" >
        <form action="#" class="form_main" name="formProd">

            <p class="heading">Crear un Producto</p>
            <section class="layout">
                <div class="inputContainer">
                    <input name="prodNombre" type="text" [(ngModel)]="producto.prodNombre"
                        placeholder="Ingresa el nombre" required>
                </div>

                <div class="inputContainer">
                    <h2 class="nombre" style="font-size: 18px;">Elige la categoría</h2>
                    <select name="categorias" [(ngModel)]="categoriaSelect" required class="select">
                        <option *ngFor="let categoria of categorias" [ngValue]="categoria">
                            {{categoria.catNombre}}
                        </option>
                    </select>
                </div>
                <div class="inputContainer">
                    <input name="prodPrecio" type="number" [(ngModel)]="producto.prodPrecio"
                        placeholder="Ingresa el precio" required placeholder="Ingresa el nombre" required>
                </div>

                <div class="inputContainer">
                    <input name="prodDescripcion" type="text" [(ngModel)]="producto.prodDescripcion"
                        placeholder="Ingresa la descripción" required>
                </div>

                <div class="inputContainer">
                    <h2 class="nombre" style="font-size: 18px;">Elige el tipo</h2>
                    <select name="tipos" [(ngModel)]="tipoSelect" required class="select">
                        <option *ngFor="let tipo of tipos" [ngValue]="tipo">
                            {{tipo.tipNombre}}
                        </option>
                    </select>
                </div>
                <div class="inputContainer">
                    <input type="file" (change)="onFileChange($event)" multiple>

                    <!-- <button (click)="uploadFiles()">Subir archivos</button> -->

                </div>
            </section>
            <section class="layout7">

                <div class="card" *ngFor="let preview of filePreviews" style="height: 100%; width: 90%;">
                    <img [src]="preview" alt="Vista previa de imagen" class="card-image" style="margin: inherit;">
                </div>
            </section>
            <button id="button" (click)="registrar()" *ngIf="accion ==='registrar'">Crear producto</button>
            <button id="button" (click)="registrar()" *ngIf="accion ==='editar'">Editar producto</button>

        
        </form>


    </div>

    <div>


    </div>



<!-- <div style="height: 400px;">
            
            <section class="layout4">

                <div>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>

                </div>
                <div>
                    <p>Monetizacion:</p>
                </div>
                <div>
                    <p class="monto">$ 0.00</p>
                </div>
                <div>
                    <p>Fecha de Registro:</p>
                </div>
                <div>
                    <p class="fecha">2023/06/23</p>
                </div>
            </section>
        </div> -->