<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>

<div class="container">
    <section class="layout">
        <div>
            <form action="" class="form_main">

                <p class="heading">Crear una Cotización</p>
                <section class="layout">

                    <div>

                        <p class="cate" style="font-size: 18px;">Elige la categoria</p>
                    </div>
                    <div class="inputContainer">
                        <select class="select" name="TipoEvento" [(ngModel)]="cotizacion.cotiTipoEvento">
                            <option>Boda</option>
                            <option>Graduación</option>
                            <option>Bautizo</option>
                            <option>Confirmación</option>
                            <option>Cumpleaños</option>
                        </select>
                        <input type="text" name="TipoEvento" [(ngModel)]="cotizacion.cotiTipoEvento"
                            placeholder="Otro..." required>
                    </div>


                    <div class="inputContainer">
                        <input type="text" name="Descripcion" [(ngModel)]="cotizacion.cotiDescripcion"
                            placeholder="Ingresa los detalles" required>
                    </div>
                    <div class="inputContainer">
                        <input type="time" name="HoraInicio" placeholder="Hora de Inicio" required step="900"
                            [(ngModel)]="selectedTimeIni" (ngModelChange)="calcularMonto()">
                    </div>

                    <div class="inputContainer">
                        <input type="time" name="HoraFin" placeholder="Hora de Fin" required step="900"
                            [(ngModel)]="selectedTimeFin" (ngModelChange)="calcularMonto()">
                    </div>



                    <div class="inputContainer">

                        <button class="boton1" style="font-size: 12px;" (click)="crearCotizacion()">
                            Crear una cotización</button>

                    </div>


                </section>


            </form>
        </div>
        <div style="height: 400px;">

            <section class="layout4">

                <div>
                    <p class="heading">Calculando...</p>
                </div>
                <div>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </section>

                </div>
                <div>
                    <p>Monetización:</p>
                </div>
                <div>
                    <p class="monto">{{cotizacion.cotiMonto}}</p>
                </div>
                <div>
                    <p>Fecha de Registro:</p>
                </div>
                <div>
                    <p class="fecha">{{ fechaRegistro | date:'dd/MM/yyyy' }}</p>
                </div>
            </section>
        </div>

    </section>
    <section style="margin-top: 50px;" class="layout2">
        <ng-container *ngFor="let prod of productoAct">
            <div class="card2">
                <div style="width: 100%; " class="icon">
                    <img class=" salon" src="assets/img/salonfino.jpeg" width="90%"
                        style="border-radius: 10px;   box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);">
                    <h3 style="margin-top: 20px;">{{prod.prodNombre}}</h3>

                </div>
                <span
                    style="text-align: justify; display: block; text-align: center; margin-top: 50px; font-size: 26px;">DETALLES
                </span>
                <br>
                <span style="text-align: justify; font-size: 15px; margin-top: -30px;">
                    <br> Precio: {{prod.prodPrecio}}
                    <br> Categoria: {{prod.catId.catNombre}}
                    <br> Descripcion: {{prod.prodDescripcion}}

                </span>

                <span style="margin-top: 80px;">
                    <h1 style="font-size: 18px; font-weight: bolder; margin-right: 20px;">Cantidad:</h1><input name="prodPrecio" type="number" [(ngModel)]="nuevoAdicional.adiCantidad" required min="0"
                        style=" width: 140px;">
                </span>
                <span style="text-align: justify; font-size: 24px; margin-top: 130px; display: inline-flexbox;">

                    <button style="font-size: 10px; width: 140px; margin-right: 5px;" class="boton1" (click)="agregarAdicional(prod)">
                        Agregar </button>
                    <button style="font-size: 10px; width: 140px; margin-left: 5px;" class="boton1"
                        (click)="quitarAdiccional(prod.prodId)"> Quitar </button>
                </span>

            </div>

        </ng-container>

    </section>



</div>

</html>