<!DOCTYPE html>
<html>

<head>
    <meta class="viewport" content="width-device-width, initial-scale=1.0">
    <title>HEADER</title>

</head>

<app-headers></app-headers>

<div class="container">
    <section class="layout">
        <div>
            <form action="" class="form_main">

                <p class="heading">Crear una Cotizacion</p>
                <section class="layout">

                    <div>

                        <p class="cate" style="font-size: 18px;">Elige la categoria</p>
                    </div>
                    <div class="inputContainer">
                        <select class="select">
                            <option>Boda</option>
                            <option>Graduacion</option>
                            <option>Bautizo</option>
                            <option>Confirmacion</option>
                            <option>Cumpleaños</option>
                        </select>
                    </div>

                    <div class="inputContainer">
         
                        <input type="date" placeholder="Ingresa tu fecha de nacimiento" required>
                    </div>

                    <div class="inputContainer">
                        <input type="text" placeholder="Ingresa los detalles" required>
                    </div>
                </section>

                <button id="button" style="font-size: 18px;">Crear una cotizacion</button>

            </form>
        </div>
        <div style="height: 400px;">

            <section class="layout4">

                <div>
                    <p class="heading">Calculando...</p>
                </div>
                <div>
                    <section class="dots-container">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                      </section>
                      
                </div>
                <div>
                    <p>Monetizacion:</p>
                </div>
                <div>
                    <p class="monto">$ 0.00</p>
                </div>
                <div>
                    <p>Fecha de Registro:</p>
                </div>
                <div>
                    <p class="fecha">2023/06/23</p>
                </div>
            </section>
        </div>
    </section>

</div>

</html>