<!DOCTYPE html>
<!-- Coding by CodingNepal | www.codingnepalweb.com-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <title> Logeo para el Salon de Eventos </title>
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <app-headers></app-headers>

    <div class="container">
            <div>
                <form action="" class="form_main">

                    <p class="heading">Crear un Nuevo Salon </p>
                    <section class="layout">

                        <div class="inputContainer">
                            <input type="text" placeholder="Ingresa el nombre" required>
                        </div>

                        <div class="inputContainer">
                            <input type="text" placeholder="Ingresa la direccion" required>
                        </div>

                        <div class="inputContainer">
                            <input type="number" placeholder="Ingresa la capacidad " required>
                        </div>
                        
                        <div class="inputContainer">
                            <input type="number" placeholder="Ingresa el costo/hora " required>
                        </div>
                    </section>

                    <button id="button">Crear un Salon</button>

                </form>
            </div>
            
    </div>



</body>

</html>